.root {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    &-1 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        &.grid {
            margin: 32px 0;
        }
        &.paper {
            padding: 32px;
            height: 120px;
            width: 350px;
            border: none;
        }
    }

    &-2 {
        height: 50vh;
        text-align: center;
        margin-bottom: 32px;
        &.grid {
        }
        &.paper {
            height: 100%;
        }
    }

    &-3 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        height: 35vh;
        width: 30%;
        margin-bottom: 32px;
        &.paper {
            padding: 32px;
            width: 100%;
            border: none;
        }
    }
}
