.App {
    width: 100%;
    background-color: $background-color;
}

.MuiContainer-root.App__container {
    width: 98%;
    margin: auto;
    margin-top: 8rem;
    background-color: $background-color;
    z-index: -1;
}
