.Auth {
    height: 100vh;
    //background-image: linear-gradient(to right bottom, rgba(#7ed56f, 0.8), rgba(#28b485, 0.8));
    background-image: linear-gradient(to right bottom, #5fc984, $color-primary-dark);
    background-size: cover;
    background-position: top;
    position: relative;

    .Auth-card {
        width: 25rem;
        height: auto;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &__heading {
            font-size: 1.5rem;
            font-weight: bold;
            color: $color-primary-dark;
            margin-bottom: 2rem;
        }
        .error {
            color: $alert;
            font-size: 1rem;
            font-weight: 500;
            margin: 1rem auto;
            width: 75%;
        }
    }
}

.form {
    width: 90%;
    margin: auto;
    &__control {
        .form__input {
            width: 90%;
            &.error {
                margin: 0;
                label {
                    color: $alert;
                }
                ::before {
                    border-bottom: 2px solid $alert;
                }
                ::after {
                    border-bottom: none;
                }
            }
        }

        .form__icon {
            margin: 1.2rem 0.5rem 0 0;
        }
    }
    .btn-primary {
        background-color: $color-secondary-dark;
        cursor: pointer;
        margin: 1rem;
        &:hover {
            background-color: darken($color-secondary-dark, 5%);
        }
    }
    &__link {
        cursor: pointer;
        a {
            text-decoration: none;
            padding: 1rem;
            color: inherit;
            &:hover {
                text-decoration: none;
                background-color: #d1d0cf;
            }
        }
    }
}
