.btn {
    min-width: 24rem;
    padding: 0.5rem 4rem;
    margin: 4rem;
    font-size: 3.2rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    height: 10rem;

    &:focus {
        outline: none;
    }

    &-dark {
        background-color: $color-primary-dark;
        color: #ffffff;
    }

    &-light {
        background-color: #ffffff;
        color: $font-color;
        border: 1px solid $font-color;
    }

    &-disabled {
        background-color: $color-disabledGray;
        color: $font-color;
        cursor: not-allowed;
    }

    &.md {
        width: 32rem;
    }

    &.lg {
        width: 48rem;
    }

    &.xl {
        width: 72rem;
    }
}
