.input {
    position: relative;
    margin: 4rem auto;

    &__control {
        position: relative;
        z-index: 1;
        width: 80rem;
        height: 14rem;
        font-size: 4rem;
        padding: 4rem;
        border: 1px solid lighten($color-black, 50%);
        border-radius: 4px;
        background-color: transparent;

        &:hover {
            border: 2px solid lighten($color-black, 20%);
        }
        &.md {
            width: 100rem;
        }
        &.lg {
            width: 120rem;
        }
        &.xl {
            width: 152rem;

            & + .label {
                left: 4rem;
            }
        }

        & + .label {
            position: absolute;
            top: 4.4rem;
            left: 8rem;
            font-size: 4rem;
            color: $color-black;
            transition: all 0.3s ease;
            //z-index: 2;
        }

        &:focus {
            outline: none;
            border-width: 2px;
            border-color: $color-primary-dark;
            border-radius: 4px;
            transition: all 0.2s ease-out;
        }

        &:focus + .label,    //&:valid + .label,
        &.has-value + .label {
            position: absolute;
            top: -2rem;
            padding: 0 3px;
            font-size: 3.6rem;
            background-color: $color-white;
            z-index: 1;
            font-weight: 600;
        }

        &:focus + .label {
            color: $color-primary-dark;
        }

        &.error {
            border: 1px solid $alert;
            width: 80rem;

            & + .label {
                color: $alert;
            }
        }

        &.standard {
            border: none;
            border-bottom: 2px solid $color-gray;
            border-radius: 0;
            padding: 0;
            &.xl,
            &.lg,
            &.md {
                & + .label {
                    left: 2px;
                }
            }
            &:focus {
                border-radius: 0;
                border-color: $color-primary-dark;
                transition: all 0.2s ease-out;
            }
            & + .label {
                left: 2px;
            }
            &:focus + .label,    //&:valid + .label,
            &.has-value + .label {
                padding: 0;
            }
        }

        &:focus::-webkit-input-placeholder {
            color: lighten($color-black, 35%);
        }
        &:focus::-moz-placeholder {
            color: lighten($color-black, 35%);
        }
        &input:focus:-moz-placeholder {
            color: lighten($color-black, 35%);
        }
        &input:focus:-ms-input-placeholder {
            color: lighten($color-black, 35%);
        }
    }
    ::-webkit-input-placeholder {
        color: transparent;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: transparent;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: transparent;
    }

    :-ms-input-placeholder {
        color: transparent;
    }
}
