.modal {
    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity linear 0.25s;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 1000;
    }
    &__card {
        @include flex-col;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        background-color: #ffffff;
        width: 168rem;
        margin: auto;
        height: auto;
        padding: 8rem;
        border-radius: 6px;
        box-shadow: 0 0 10px #00000088;
    }
    &__heading {
        margin-bottom: 4rem;
    }
    &__actions {
        margin-top: 20rem;
    }
}
