.modal {
    transition: all 0.2s ease-in;
    &__background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 1000;
    }
    &__card {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
        background-color: #ffffff;
        width: 43rem;
        margin: auto;
        height: auto;
        padding: 2rem;
        border-radius: 6px;
        box-shadow: 0 0 10px #00000088;
    }
    &__heading {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    &__content {
    }
    &__actions {
        margin: 5rem auto 0;
    }
}
