.MuiPaper-elevation1.table-paper {
    box-shadow: none;
    .table {
        &__toolbar {
            display: flex;
            align-items: center;
            background-color: $background-color;
            border-bottom: 5px solid $color-primary-dark;
            justify-content: space-between;
            margin-bottom: 0.5rem;
        }
        &__pagination {
            color: $font-color;
            font-weight: 400;
            width: 25%;
        }
        &__head {
            border-bottom: 6px solid #ddd;

            .table__row {
                cursor: pointer;
                &.checbox {
                }
                &.heading {
                    font-size: 0.9rem;
                    font-weight: 450;
                    color: $font-color;
                }
            }
        }
        &__body {
            .table__row {
                cursor: pointer;
            }
        }
    }
}
