.promo-toolbar {
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    font-size: 4rem;
    .toolbar-items-1 {
        font-size: 4rem;
        &__heading {
            display: inline;
        }

        &__items {
            margin-left: 4rem;
        }
    }
    .toolbar-items-2 {
        .form-control {
            width: 48rem;
            background-color: #ffffff;

            &.select-input {
            }
        }

        .column--btn {
            color: $font-color;
            background-color: #ffffff;
            padding: 3.6rem;
            box-shadow: none;
            border: 1px solid #ddd;
            margin-left: 8rem;
        }

        .switch {
            margin-left: 8rem;
        }
    }
}
