*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 4px;
    background-color: #f2f2f2;
    font-family: Roboto, sans-serif;
}
body {
    box-sizing: border-box;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
}
.app {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
}
.m-1 {
    margin: 1rem;
}
.my-1 {
    margin: 1rem 0;
}
.mx-1 {
    margin: 0 1rem;
}
.p-1 {
    padding: 1rem;
}
.m-2 {
    margin: 2rem;
}
.my-2 {
    margin: 2rem 0;
}
.mx-2 {
    margin: 0 2rem;
}
.p-2 {
    padding: 2rem;
}
.m-3 {
    margin: 3rem;
}
.my-3 {
    margin: 3rem 0;
}
.mx-3 {
    margin: 0 3rem;
}
.p-3 {
    padding: 3rem;
}
.m-4 {
    margin: 4rem;
}
.my-4 {
    margin: 4rem 0;
}
.mx-4 {
    margin: 0 4rem;
}
.p-4 {
    padding: 4rem;
}
.m-5 {
    margin: 5rem;
}
.my-5 {
    margin: 5rem 0;
}
.mx-5 {
    margin: 0 5rem;
}
.p-5 {
    padding: 5rem;
}
.svg-icon svg {
    font-size: 7rem;
}
.badge-number span {
    font-size: 3rem;
}
.Auth {
    height: 100vh;
    background-image: -webkit-gradient(
            linear,
            left top,
            right bottom,
            from(rgba(95, 201, 132, 0.8)),
            to(rgba(16, 127, 98, 0.8))
        ),
        url(../assets/images/background.jpeg);
    background-image: linear-gradient(
            to right bottom,
            rgba(95, 201, 132, 0.8),
            rgba(16, 127, 98, 0.8)
        ),
        url(../assets/images/background.jpeg);
    background-size: auto;
    background-position: top;
    position: relative;
}
.Auth .Auth-card {
    width: 25rem;
    height: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.Auth .Auth-card__heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: #107f62;
    margin-bottom: 2rem;
}
.Auth .Auth-card .error {
    color: #ec2526;
}
.form {
    width: 90%;
    margin: auto;
}
.form__link {
    cursor: pointer;
}
.form__link a {
    text-decoration: none;
    padding: 1rem;
    color: inherit;
}
.form__link a:hover {
    text-decoration: none;
    background-color: #d1d0cf;
}
.MuiPaper-elevation1.table-paper {
    box-shadow: none;
}
.MuiPaper-elevation1.table-paper .table__toolbar {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: #f2f2f2;
    border-bottom: 5px solid #107f62;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.MuiPaper-elevation1.table-paper .table__pagination {
    color: #394647;
    font-weight: 400;
    font-size: 4rem;
    width: 25%;
}
.MuiPaper-elevation1.table-paper .table__pagination span {
    font-size: 3.5rem;
}
.MuiPaper-elevation1.table-paper .table__pagination svg {
    font-size: 5rem;
}
.MuiPaper-elevation1.table-paper .table__head {
    border-bottom: 6px solid #ddd;
}
.MuiPaper-elevation1.table-paper .table__head .table__row {
    cursor: pointer;
}
.MuiPaper-elevation1.table-paper .table__head .table__row.heading {
    font-size: 4rem;
    font-weight: 500;
    color: #394647;
}
.MuiPaper-elevation1.table-paper .table__body .table__row {
    cursor: pointer;
    font-size: 3.5rem;
}
.btn {
    min-width: 24rem;
    padding: 0.5rem 4rem;
    margin: 4rem;
    font-size: 3.2rem;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    height: 10rem;
}
.btn:focus {
    outline: 0;
}
.btn-dark {
    background-color: #107f62;
    color: #fff;
}
.btn-light {
    background-color: #fff;
    color: #394647;
    border: 1px solid #394647;
}
.btn-disabled {
    background-color: #d5d5d7;
    color: #394647;
    cursor: not-allowed;
}
.btn.md {
    width: 32rem;
}
.btn.lg {
    width: 48rem;
}
.btn.xl {
    width: 72rem;
}
.input {
    position: relative;
    margin: 4rem auto;
}
.input__control {
    position: relative;
    z-index: 1;
    width: 80rem;
    height: 14rem;
    font-size: 4rem;
    padding: 4rem;
    border: 1px solid #b0b9c6;
    border-radius: 4px;
    background-color: transparent;
}
.input__control:hover {
    border: 2px solid #5d6c80;
}
.input__control.md {
    width: 100rem;
}
.input__control.lg {
    width: 120rem;
}
.input__control.xl {
    width: 152rem;
}
.input__control.xl + .label {
    left: 4rem;
}
.input__control + .label {
    position: absolute;
    top: 4.4rem;
    left: 8rem;
    font-size: 4rem;
    color: #323a45;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.input__control:focus {
    outline: 0;
    border-width: 2px;
    border-color: #107f62;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.input__control.has-value + .label,
.input__control:focus + .label {
    position: absolute;
    top: -2rem;
    padding: 0 3px;
    font-size: 3.6rem;
    background-color: #fff;
    z-index: 1;
    font-weight: 600;
}
.input__control:focus + .label {
    color: #107f62;
}
.input__control.error {
    border: 1px solid #ec2526;
    width: 80rem;
}
.input__control.error + .label {
    color: #ec2526;
}
.input__control.standard {
    border: none;
    border-bottom: 2px solid #5b616b;
    border-radius: 0;
    padding: 0;
}
.input__control.standard.lg + .label,
.input__control.standard.md + .label,
.input__control.standard.xl + .label {
    left: 2px;
}
.input__control.standard:focus {
    border-radius: 0;
    border-color: #107f62;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.input__control.standard + .label {
    left: 2px;
}
.input__control.standard.has-value + .label,
.input__control.standard:focus + .label {
    padding: 0;
}
.input__control:focus::-webkit-input-placeholder {
    color: #8492a6;
}
.input__control:focus::-moz-placeholder {
    color: #8492a6;
}
.input__controlinput:focus:-moz-placeholder {
    color: #8492a6;
}
.input__controlinput:focus:-ms-input-placeholder {
    color: #8492a6;
}
.input ::-webkit-input-placeholder {
    color: transparent;
}
.input :-moz-placeholder {
    color: transparent;
}
.input ::-moz-placeholder {
    color: transparent;
}
.input :-ms-input-placeholder {
    color: transparent;
}
.modal__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity linear 0.25s;
    transition: opacity linear 0.25s;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1000;
}
.modal__card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -60%);
    transform: translate(-50%, -60%);
    background-color: #fff;
    width: 168rem;
    margin: auto;
    height: auto;
    padding: 8rem;
    border-radius: 6px;
    box-shadow: 0 0 10px #00000088;
}
.modal__heading {
    margin-bottom: 4rem;
}
.modal__actions {
    margin-top: 20rem;
}
.side-menu {
    height: 100%;
    background: #fff;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 68rem;
    max-width: 160rem;
    z-index: 200;
    overflow-x: hidden;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.side-menu.open {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.side-menu button {
    margin-left: 4rem;
    margin-top: 4rem;
    color: #323a45;
}
.container {
    width: 96%;
    height: 100%;
    margin: auto;
    margin-top: 32rem;
    background-color: #f2f2f2;
    z-index: -1;
}
.spinner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.spinner__svg {
    position: absolute;
    top: 50%;
    left: 50%;
}
.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    border-top: 9px solid #2085a1;
    background-color: #fff;
}
.header .toolbar {
    top: 0;
    width: 98%;
    margin: auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 16rem;
}
.header .toolbar__menuicon svg {
    font-size: 8.75rem;
}
.header .toolbar__heading {
    -webkit-box-flex: 2;
    flex-grow: 2;
    margin-left: 4rem;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}
.header .toolbar__heading.shift {
    margin-left: 62rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.header .toolbar__heading h1 {
    font-size: 6rem;
    color: #323a45;
    font-weight: 900;
}
.header .toolbar--notification.addbutton {
    font-size: 4rem;
    font-weight: 700;
    margin-right: 4rem;
}
.App {
    width: 100%;
    background-color: #f2f2f2;
}
.MuiContainer-root.App__container {
    width: 98%;
    margin: auto;
    margin-top: 8rem;
    background-color: #f2f2f2;
    z-index: -1;
}
.root {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: inherit;
}
.root-1 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: center;
}
.root-1.grid {
    margin: 32px 0;
}
.root-1.paper {
    padding: 32px;
    height: 120px;
    width: 350px;
    border: none;
}
.root-2 {
    height: 50vh;
    text-align: center;
    margin-bottom: 32px;
}
.root-2.paper {
    height: 100%;
}
.root-3 {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    text-align: center;
    height: 35vh;
    width: 30%;
    margin-bottom: 32px;
}
.root-3.paper {
    padding: 32px;
    width: 100%;
    border: none;
}
.mainlist a {
    text-decoration: none;
    color: inherit;
}
.mainlist .mainlist__btn {
    padding: 1.25rem;
    border-bottom: 0.5px solid #f2f2f2;
}
.mainlist .expansion {
    width: 16rem;
    box-shadow: none;
    border-bottom: 0.5px solid #f2f2f2;
    margin-top: 0;
}
.mainlist .expansion :hover {
    background-color: #f2f2f2;
}
.mainlist .expansion--heading {
    margin-left: 2rem;
}
.mainlist .expansion__panel {
    padding: 1rem;
}
.mainlist .expansion__Link {
    padding-bottom: 0;
}
.mainlist .expansion__Link a {
    font-size: 0.85rem;
    font-weight: 400;
    margin-left: 3.1rem;
    text-decoration: none;
    color: inherit;
}
.mainlist .expansion__Link a:hover {
    cursor: pointer;
    font-weight: 800;
}
.mainlist .expansion__Link:last-child {
    padding-bottom: 1.5rem;
}
.mainlist .expansion__Link:first-child {
    padding-top: 0;
}
.mainlist .Mui-expanded .expansion--heading {
    font-weight: 500;
    color: #107f62;
}
.mainlist .Mui-expanded .expansion__panel {
    padding-bottom: 0;
}
.mainlist .Mui-expanded .expansion__Link,
.mainlist .Mui-expanded .expansion__panel {
    border-left: 5px solid #107f62;
    background-color: #f2f2f2;
}
.mainlist .MuiExpansionPanel-root.Mui-expanded {
    margin: 0;
}
.graph {
    margin: 7rem auto 0;
}
.promo-toolbar {
    height: 20rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 75%;
    font-size: 4rem;
}
.promo-toolbar .toolbar-items-1 {
    font-size: 4rem;
}
.promo-toolbar .toolbar-items-1__heading {
    display: inline;
}
.promo-toolbar .toolbar-items-1__items {
    margin-left: 4rem;
}
.promo-toolbar .toolbar-items-2 .form-control {
    width: 48rem;
    background-color: #fff;
}
.promo-toolbar .toolbar-items-2 .column--btn {
    color: #394647;
    background-color: #fff;
    padding: 3.6rem;
    box-shadow: none;
    border: 1px solid #ddd;
    margin-left: 8rem;
}
.promo-toolbar .toolbar-items-2 .switch {
    margin-left: 8rem;
}
.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.content .input {
    margin-left: 0;
    width: inherit;
}
.details {
    margin-top: 6rem;
}
.details__toggles {
    margin-top: 4rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.details__sub-heading {
    font-size: 4rem;
    font-weight: 500;
}
.promo--heading {
    display: inline;
    font-size: 6rem;
    font-weight: 700;
}
.close--icon {
    float: right;
    cursor: pointer;
}
.close--icon::after {
    content: '';
    display: table;
    clear: both;
}
.close--icon svg {
    font-size: 4rem;
}
.btn:first-child {
    margin-left: 0;
}
.btn:last-child {
    margin-right: 0;
}
.promotions {
    width: 100%;
    height: 100%;
}
