.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    border-top: 9px solid #2085a1;
    background-color: $color-white;

    .toolbar {
        top: 0;
        width: 98%;
        margin: auto;
        display: flex;
        align-items: center;
        height: 16rem;

        &__menuicon {
            svg {
                font-size: 8.75rem;
            }
        }

        &__heading {
            flex-grow: 2;
            margin-left: 4rem;
            transition: 0.2s ease-out;
            &.shift {
                margin-left: $side-menu-width - 6rem;
                transition: all 0.5s ease;
            }
            h1 {
                font-size: 6rem;
                color: $color-black;
                font-weight: 900;
            }
        }

        &--notification {
            &.addbutton {
                font-size: 4rem;
                font-weight: 700;
                margin-right: 4rem;
            }
        }
    }
}
